<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>CIVIL Books</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../pug/style.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Online Companion - Virtual Books</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/dashboard">Home</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Departments
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/books/cse">CSE</a></li>
                    <li><a href="/books/ece">ECE</a></li>
                    <li><a href="/books/eee">EEE</a></li>
                    <li><a href="/books/mech">MECHANICAL</a></li>
                    <li><a href="/books/civ">CIVIL</a></li>
                    <li><a href="/books/spl">SPECIAL BOOKS</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%=uname %></a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
              </ul>
            </div>
          </nav>  
          <div class="container">
          <h1>CIVIL DEPARTMENT BOOKS</h1>
          <p>Download and Read them for free</p>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Basic Civil Engineering, 1e</h4>
              <br>
              <p class="card-text">Published by Pearson Education <br><br>Basic Civil Engineering is designed to enrich the preliminary conceptual knowledge about civil engineering to the students of non-civil branches of engineering.</p>
              <hr>
              <a id="sb" href="https://catalog.csus.edu/courses-a-z/ce/ce.pdf" class="card-link">Download</a>
            </div>
          </div> 
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Building Planning and Drawing</h4>
              <br>
              <p class="card-text">Published by Nirali Prakashan <br><br>In this thoroughly revised and extensively enlarged Second Edition each topic of the textbook has been arranged in such a way that reader is empowered with an in-depth knowledge in the subject of Building Planning and Drawing</p>
              <hr>
              <a id="sb" href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwja2-Og_KjxAhWFUn0KHVEJBrgQFnoECAMQAA&url=https%3A%2F%2Fwww.ikbooks.com%2FopenPdf%2F9789382332565&usg=AOvVaw0Y_xhUgln-ASPwBxPMjCkv" class="card-link">Download</a>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Fundamentals of Structural Analysis</h4>
              <br>
              <p class="card-text">Published by S Chand & Company <br><br>The book takes an integral look at structural engineering starting with fundamentals and ending with compurter analysis. </p>
              <hr>
              <a id="sb" href="https://catalog.csus.edu/courses-a-z/ce/ce.pdf" class="card-link">Download</a>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Concrete Technology </h4>
              <br>
              <p class="card-text">Published by Nirali Prakashan <br><br>The book takes an integral look at Chemical Admixtures in Concrete, Special Concrete and Extreme Weather Concreting </p>
              <hr>
              <a id="sb" href="https://catalog.csus.edu/courses-a-z/ce/ce.pdf" class="card-link">Download</a>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Strength of Materials</h4>
              <br>
              <p class="card-text">Published by McGraw Hill Education <br><br>The book serves as a textbook for the course on strength of materials. It covers the syllabi of universities, technical boards and professional examining bodies in the country.</p>
              <hr>
              <a id="sb" href="https://catalog.csus.edu/courses-a-z/ce/ce.pdf" class="card-link">Download</a>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
    </body>
</html>