<html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>CSE Books</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../pug/style.css">  
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Online Companion - Virtual Books</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/dashboard">Home</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Departments
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/books/cse">CSE</a></li>
                    <li><a href="/books/ece">ECE</a></li>
                    <li><a href="/books/eee">EEE</a></li>
                    <li><a href="/books/mech">MECHANICAL</a></li>
                    <li><a href="/books/civ">CIVIL</a></li>
                    <li><a href="/books/spl">SPECIAL BOOKS</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%=uname %></a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
              </ul>
            </div>
          </nav> 
          <div class="container">
          <h1>CSE DEPARTMENT BOOKS</h1>
          <p>Download and Read them for free</p>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Programming with C </h4>
              <br>
              <p class="card-text">Publishesd by McGrawHill.<br><br>This timely revision supports the current ANSI Standard for the C language.The Complete Reference by Herbert Schildt. Includes some discussion of the Turbo C++ operating environment, as well as useful information on operators and expressions, data input and output, control statements, functions, program structure, and arrays.</p>
              <hr>
              <a id="sb" target="_blank" href="http://chakradhardegreecollege.com/books/C.pdf" class="card-link">Download</a>
            </div>
          </div> 
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Introduction to Algorithms</h4>
              <br>
              <p class="card-text">PHI Learning Pvt. Ltd. Third edition.<br><br>The latest edition of the essential text and professional reference, with substantial new material on such topics as vEB trees, multithreaded algorithms, dynamic programming, and edge-based flow.</p>
              <hr>
              <a id="sb" target="_blank" href="https://edutechlearners.com/download/Introduction_to_algorithms-3rd%20Edition.pdf" class="card-link">Download</a>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Java Fundamentals</h4>
              <br>
              <p class="card-text">A Comprehensive Introduction, Herbert Schildt and Dale Skrien, TMH.<br><br>A Comprehensive Introduction is designed for an introductory programming course using Java. This text takes a logical approach to the presentation of core topics, moving step-by-step from the basics to more advanced material, with objects being introduced at the appropriate time.</p>
              <hr>
              <a id="sb" target="_blank" href="https://gfgc.kar.nic.in/sirmv-science/GenericDocHandler/138-a2973dc6-c024-4d81-be6d-5c3344f232ce.pdf" class="card-link">Download</a>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">The Fundamentals of Python</h4>
              <br>
              <p class="card-text">Published by Cengage<br><br>The book uses Python, which is both easy for beginners to learn and scales well to advanced applications.Expert programmer Martin Brown guides you from the fundamentals of using modules through the use of advanced objectorientation classes.</p>
              <hr>
              <a id="sb" target="_blank" href="http://bedford-computing.co.uk/learning/wp-content/uploads/2015/10/Fundamentals_of_Python.pdf" class="card-link">Download</a>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Operating System Principles</h4>
              <br>
              <p class="card-text">Published by John Wiley & Sons<br><br>The seventh edition has been updated to offer coverage of the most current topics and applications, improved conceptual coverage and additional content to bridge the gap between concepts and actual implementations. </p>
              <hr>
              <a id="sb" target="_blank" href="http://www.cs.put.poznan.pl/akobusinska/downloads/Operating_Systems_Concepts.pdf" class="card-link">Download</a>
            </div>
          </div> 
          <script>$(document).ready(function() {
            $(".dropdown-toggle").dropdown();
        });</script>
    </body>
</html>