<html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>ECE Books</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../pug/style.css">    
    </head>
    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Online Companion - Virtual Books</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/dashboard">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Departments
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/books/cse">CSE</a></li>
                <li><a href="/books/ece">ECE</a></li>
                <li><a href="/books/eee">EEE</a></li>
                <li><a href="/books/mech">MECHANICAL</a></li>
                <li><a href="/books/civ">CIVIL</a></li>
                <li><a href="/books/spl">SPECIAL BOOKS</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/books/profile"><span class="glyphicon glyphicon-user"></span> <%=uname %></a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          </ul>
        </div>
      </nav> 
          <div class="container">
          <h1>ECE DEPARTMENT BOOKS</h1>
          <p>Download and Read them for free</p>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Electronic Devices & Circuits</h4>
              <br>
              <p class="card-text">Published by Pearson Education <br><br>This book  familiarizes the student with the principle of operation, analysis and design of Junction diode, BJT and FET amplifier circuits, transistors and field effect transistors. This text is an excellent reference work for anyone involved with electronic devices and other circuitry applications, such as electrical and technical engineers.</p>
              <hr>
              <a id="sb" target="_blank" href="http://www.elcom-hu.com/Electrical/Digital%20Singnal%20Proccessing/4th/4th%20Digital%20Signal%20Processing%20-%20Proakis%20and%20Manolakis.pdf" class="card-link">Download</a>
            </div>
          </div> 
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Power Electronics | Devices</h4>
              <br>
              <p class="card-text">Published by Pearson Education <br><br>This new edition beautifully upgrades the earlier work, with substantial updates to detail, without compromising on the style, content or technical quality. This hallmark text on Power System Engineering provides the readers a comprehensive account of all key concepts in the field.</p>
              <hr>
              <a id="sb" target="_blank" href="http://www.elcom-hu.com/Electrical/Digital%20Singnal%20Proccessing/4th/4th%20Digital%20Signal%20Processing%20-%20Proakis%20and%20Manolakis.pdf" class="card-link">Download</a>
            </div>
          </div> 
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Pulse, Digital and Switching Waveforms</h4>
              <br>
              <p class="card-text">Published by McGraw Hill Education <br><br>This book is one of the first manuals to offer wide-ranging concepts of design andanalysis of pulse generation and waveform-shaping circuits in a simple and reader-friendlymanner. A large number of solved examples, review questions, numerical problems and openbook exam questions are interspersed throughout the text to provide a clear understanding of theconcepts.</p>
              <hr>
              <a id="sb" target="_blank" href="https://researchpapers4scolars.files.wordpress.com/2015/06/andreas-f-molisch-wireless-comm.pdf" class="card-link">Download</a>
            </div>
          </div> 
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Digital Signal Processing</h4>
              <br>
              <p class="card-text">Published by Pearson Education <br><br>Detailed coverage of the building blocks of pulse and digital circuits. Comprehensively dealt with chapters on wide-band amplifier, clipping & clamping circuit etc.</p>
              <hr>
              <a id="sb" target="_blank" href="http://www.elcom-hu.com/Electrical/Digital%20Singnal%20Proccessing/4th/4th%20Digital%20Signal%20Processing%20-%20Proakis%20and%20Manolakis.pdf" class="card-link">Download</a>
            </div>
          </div> 
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Wireless Communications | Second Edition</h4>
              <br>
              <p class="card-text">Published by Pearson Education <br><br>he book expands on the functionality of these products and briefs readers regarding AMPS, U.S. Digital Cellular, CT-2, GSM, CDMA, DECT, WACS, ETACS, PDC and CDPD.</p>
              <hr>
              <a id="sb" target="_blank" href="https://researchpapers4scolars.files.wordpress.com/2015/06/andreas-f-molisch-wireless-comm.pdf" class="card-link">Download</a>
            </div>
          </div> 
    </body>
</html>