<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>EEE Books</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../pug/style.css">    
    </head>
    
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Online Companion - Virtual Books</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/dashboard">Home</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Departments
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/books/cse">CSE</a></li>
                    <li><a href="/books/ece">ECE</a></li>
                    <li><a href="/books/eee">EEE</a></li>
                    <li><a href="/books/mech">MECHANICAL</a></li>
                    <li><a href="/books/civ">CIVIL</a></li>
                    <li><a href="/books/spl">SPECIAL BOOKS</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%=uname %></a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
              </ul>
            </div>
          </nav> 
          <div class="container">
          <h1>EEE DEPARTMENT BOOKS</h1>
          <p>Download and Read them for free</p>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Engineering Circuit Analysis </h4>
              <br>
              <p class="card-text">Published by McGrawHill Education<br><br>The hallmark feature of this classic text is its focus on the student - it is written so that students may teach the science of circuit analysis to themselves. Updates to the practical application feature helps students connect material in each br>Chapter to broader concepts in Engineering. </p>
              <hr>
              <a id="sb" target="_blank" href="https://www.aldeatdo.com/wp-content/uploads/2019/09/William_Hart_Hayt_Jack_E_Kemmerly_Steven_M_Durbz-lib.org_.pdf" class="card-link">Download</a>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">          
          <div class="card-body" style="padding: 3%;">
            <h4 class="card-title">Electrical Machinery</h4>
            <br>
            <p class="card-text">Published by Khanna Publishers<br><br>The main objective of this book is to provide students with lucid comprehensive treatments of transformers with more common types of rotating electric machines. The presentation of all material in the book has been carefully reviewed and revised as needed for additional clarity.</p>
            <hr>
            <a id="sb" target="_blank" href="https://www.aldeatdo.com/wp-content/uploads/2019/09/William_Hart_Hayt_Jack_E_Kemmerly_Steven_M_Durbz-lib.org_.pdf" class="card-link">Download</a>
          </div>
        </div> 
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Power Electronics | Devices</h4>
              <br>
              <p class="card-text">Published by Pearson Education <br><br>This new edition beautifully upgrades the earlier work, with substantial updates to detail, without compromising on the style, content or technical quality.</p>
              <hr>
              <a id="sb" target="_blank" href="http://www.elcom-hu.com/Electrical/Digital%20Singnal%20Proccessing/4th/4th%20Digital%20Signal%20Processing%20-%20Proakis%20and%20Manolakis.pdf" class="card-link">Download</a>
            </div>
          </div> 
        <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">         
          <div class="card-body" style="padding: 3%;">
            <h4 class="card-title">Microprocessors and Interfacing</h4>
            <br>
            <p class="card-text">Published by McGraw Hill Education<br><br>Authored by renowned and most trusted names, this revision provides a comprehensiveview of the programming and interfacing of 8086 Microprocessors. Retaining theoriginal style it engages readers and renders the complex topics in an easy to comprehendmanner.</p>
            <hr>
            <a id="sb" target="_blank" href="https://www.aldeatdo.com/wp-content/uploads/2019/09/William_Hart_Hayt_Jack_E_Kemmerly_Steven_M_Durbz-lib.org_.pdf" class="card-link">Download</a>
          </div>
        </div> 
        <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">         
        <div class="card-body" style="padding: 3%;">
          <h4 class="card-title">The 8051 Micro controller 3rd Edition</h4>
          <br>
          <p class="card-text">Published by Cengage Learning<br><br>Readers will be trained on programming the Intel 8051 microcontroller, one of the most common microprocessors used in controls or instrumentation applications that use assembly code.</p>
          <hr>
          <a id="sb" target="_blank" href="http://ee.sharif.edu/~sakhtar3/books/The%208051%20Microcontroller%20Ayala/The%208051%20Microcontroller%20Architecture,%20Programming%20and%20Applications%201991.pdf" class="card-link">Download</a>
        </div>
      </div> 
    </body>
</html>