<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>MECH Books</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../pug/style.css">  
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Online Companion - Virtual Books</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/dashboard">Home</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Departments
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/books/cse">CSE</a></li>
                    <li><a href="/books/ece">ECE</a></li>
                    <li><a href="/books/eee">EEE</a></li>
                    <li><a href="/books/mech">MECHANICAL</a></li>
                    <li><a href="/books/civ">CIVIL</a></li>
                    <li><a href="/books/spl">SPECIAL BOOKS</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/books/profile"><span class="glyphicon glyphicon-user"></span> <%=uname %></a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
              </ul>
            </div>
          </nav> 
          <div class="container">
          <h1>MECHANICAL DEPARTMENT BOOKS</h1>
          <p>Download and Read them for free</p>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Basic Mechanical Engineering</h4>
              <br>
              <p class="card-text">Published by Pearson Education<br><br>Basic Mechanical Engineering continues to fill the need for a textbook that provides the complete overview of several aspects of mechanical engineering thermal engineering, mechanical design and manufacturing engineering.</p>
              <hr>
              <a id="sb" target="_blank" href="http://ronney.usc.edu/AME101/AME101-LectureNotes.pdf" class="card-link">Download</a>
            </div>
          </div> 
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Mechanical metallurgy. Vol. 3</h4>
              <br>
              <p class="card-text">Published by McGrawhill Education<br><br>This bestselling metallurgy text examines the behaviour of materials under stress and their reaction to a variety of hostile environments.It has been updated throughout, and optimised for metric (SI) units .</p>
              <hr>
              <a id="sb" target="_blank" href="http://ronney.usc.edu/AME101/AME101-LectureNotes.pdf" class="card-link">Download</a>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Thermodynamics: Basic and Applied</h4>
              <br>
              <p class="card-text">Published by McGraw Hill Education<br><br>Thermodynamics is a simple but a little difficult to comprehend subject because most of the theories were evolved over a period by means of experiments and measurements. This book will help students understand and appreciate the basics of thermodynamics starting from the fundamentals.</p>
              <hr>
              <a id="sb" target="_blank" href="http://ronney.usc.edu/AME101/AME101-LectureNotes.pdf" class="card-link">Download</a>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Engineering Mechanics: Statics</h4>
              <br>
              <p class="card-text">Published by Wiley<br><br>Text has been thoroughly revised to maximise rigor, clarity, readability and approachability key concepts throughout the book are especially marked and highlighted Chapter reviews at the end of each Chapter are highlighted.</p>
              <hr>
              <a id="sb" target="_blank" href="http://ronney.usc.edu/AME101/AME101-LectureNotes.pdf" class="card-link">Download</a>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">Manufacturing processes for Engineering Materials | Sixth Edition</h4>
              <br>
              <p class="card-text">Published by Pearson Education<br><br>With the Sixth Edition, students will learn to properly assess the capabilities, limitations and potential of manufacturing processes and their competitive aspects.</p>
              <hr>
              <a id="sb" target="_blank" href="http://ronney.usc.edu/AME101/AME101-LectureNotes.pdf" class="card-link">Download</a>
            </div>
          </div>
    </body>
</html>