<html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Special Books</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"> 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../pug/style.css">      
      </head>
    <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Online Companion - Virtual Books</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/dashboard">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Departments
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/books/cse">CSE</a></li>
                <li><a href="/books/ece">ECE</a></li>
                <li><a href="/books/eee">EEE</a></li>
                <li><a href="/books/mech">MECHANICAL</a></li>
                <li><a href="/books/civ">CIVIL</a></li>
                <li><a href="/books/spl">SPECIAL BOOKS</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/books/profile"><span class="glyphicon glyphicon-user"></span> <%=uname %></a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          </ul>
        </div>
      </nav> 
          <h1 class="container">COLLEGE SPECIAL BOOKS</h1>
          <p class="container">Cost of these books will be added to your Due amount. SoftCopy can be downloaded and Hardcopy will be given after the RECEIPT is verified</p>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">GATE</h4>
              <br>
              <p class="card-text">Cost - 840/- <br><br>This book has been prepared by a group of faculties who are highly experienced in training GATE candidates and are also subject matter experts. As a result this book would serve as a one-stop solution for any GATE aspirant to crack the examination.</p>
              <hr>
              <button class="btn-warning" style="width: 100px;height: 40px;background-color: #FF5964;" onclick=ConfirmDialog(0)>Download</button>
            </div>
          </div> 
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">GRE</h4>
              <br>
              <p class="card-text">Cost - 777/- <br><br>Summary Of The BookThe GRE or the Graduate Record Examination, is an entrance test that is necessary to secure admission into a graduate course in the US. This test will judge a student’s quantitative and verbal reasoning skills. It will also assess their critical thinking and analytical writing skills</p>
              <hr>
              <button class="btn-warning" style="width: 100px;height: 40px;background-color: #FF5964;" onclick=ConfirmDialog(1)>Download</button>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">TOEFL</h4>
              <br>
              <p class="card-text">Cost - 1017/- <br><br>This completely updated fifth edition includes real TOEFL test questions for practice, as well as explanations of all four sections of the test. The guide provides learners with information on how to integrate reading, listening, speaking and writing skills in order to construct effective answers that demonstrate university-level English proficiency.</p>
              <hr>
              <button class="btn-warning" style="width: 100px;height: 40px;background-color: #FF5964;" onclick=ConfirmDialog(2)>Download</button>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">CAT</h4>
              <br>
              <p class="card-text">Cost - 877/- <br><br>The second edition of The Pearson Guide to Quantitative Aptitude for the CAT has everything you need to secure a top score in the quantitative aptitude papers of the CAT and other MBA entrance examinations. Written in a student-friendly style, this book explains concepts in a concise manner and includes numerous examples and worked-out problems. It also contains sample practice problems, scientifically designed and arranged in four levels (in an increasing order of difficulty).</p>
              <hr>
              <button class="btn-warning" style="width: 100px;height: 40px;background-color: #FF5964;" onclick=ConfirmDialog(3)>Download</button>
            </div>
          </div>
          <div class="card" style="margin: 5%;background-color: black;color: cornsilk;border-radius: 15px;">
            <div class="card-body" style="padding: 3%;">
              <h4 class="card-title">NCC - Handbook</h4>
              <br>
              <p class="card-text">Cost - 199/- <br><br>The present book on NCC is published for the benefit of all the cadets of National Cadet Corps. The book covers all aspects of NCC training in appropriate detail and comprises the latest Study Material on both common and specialised subjects with exhaustive exercises. Solved model test papers are also provided in the book to make the readers familiar with the test-pattern of NCC Certificate exams. Detailed answers have also been provided for better understanding of readers.</p>
              <hr>
              <button class="btn-warning" style="width: 100px;height: 40px;background-color: #FF5964;" onclick=ConfirmDialog(4)>Download</button>
            </div>
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
          <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
          <script src="../pug/site.js"></script>
    </body>
</html>